<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="VitesseSDKMyget" value="https://www.myget.org/F/vitessesdk/auth/92e10163-8e13-470f-bed1-4d762409444f/api/v3/index.json" />
  </packageSources>
</configuration>
